<!doctype html>
<html>
    <head>
        <title>Kansas Computer Science Standards</title>
        <link type="text/css" href="/site.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="#" />
    </head>
    <body id="bodycheck">
<header>
  <div>
    <% if(locals.user) { %>
      Welcome <%= user.username %>!
      <a href="/forum/topics/new">Create a Topic</a>
    <% } else { %>
    <a href="/signin">Sign In</a> 
    or
    <a href="/signup">Sign Up</a>
    <% } %>
  </div>
</header>
<header>
  <div>
    <a href="/">Home</a>
     <a href="/standards">Standards</a>
     <a href="/forum">Forum</a>
  </div>
</header>
<a href="/signout">Sign Out</a>
<h2>New Topic</h2>
<form method="POST" action="/forum/topics">
  
  <label>Topic Subject</label>
  <input type="text" name="subject" required/>
  
  <input type="submit" value="Post"/>
</form>
  </body>
</html>