<!doctype HTML>
<html>
  <head>
    <title>My Blog: <%= title %></title>
    <link type="text/css" rel="stylesheet" href="/site.css">
  </head>
  <body>
    <h1>My Blog</h1>
    <div class="content">      
      <%- post %>  
      <%- list %>  
    </div>
    <script src="/site.js"></script>
  </body>
</html>