<!doctype HTML>
<html>
  <head>
    <title>My Blog: <%= title %></title>
    <link type="text/css" rel="stylesheet" href="/site.css">
  </head>
  <body>
    <header>
      <div>
        <% if(locals.user) { %>
          Welcome <%= user.username %>!
          <a href="/forum/topics/new">Create a Post</a>
        <% } %>
      </div>
        <a href="/signin">Sign In</a> 
        or
        <a href="/signup">Sign Up</a>
    </header>
    <a href="/signout">Sign Out</a>
    <header>
  <div>
    <a href="/">Home</a>
     <a href="/standards">Standards</a>
     <a href="/forum">Forum</a>
  </div>
</header>
    <h1>My Blog</h1>
    <div class="content">      
      <%- post %>  
      <%- list %>  
    </div>
    <script src="/site.js"></script>
  </body>
</html>